body{
	margin: 0;
}
#principal{
	position: relative;
	min-height: 700px;
}
#formulario{
	background-color: #f6f6f6;
	min-height: 800px;
	position: relative;
	padding-top: 30px;
}
.fondo{
	background-image: url(../imgs/fondo2.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 700px;
	position: fixed;
	top:0;
	z-index: -1;
	margin-left: 0;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 0%, rgba(82, 82, 82, 0.24) 71%, rgba(171,171,171,0.6) 100%);
    margin: 0;
    top: 0;
}
.contenedor{
	position: relative;
	height: 700px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: 30px;
    margin-left: 30px;
}
.contenedor2{
	background-color: white;
	min-height: 730px;
	position: relative;
    padding: 20px;
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 5px;
}
.logo{
	background-image: url(../imgs/logo.png);
	position: relative;
	background-size: cover;
	background-position: center;
	width: 70px;
	height: 100px;
	margin:0;
	float: left;
}
.logo:hover{
	cursor:pointer; 
}
.banda{
	width: 100%;
	height: 110px;
	background-color: white;
	position: absolute;
}
.cabecera{
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 200px;
}
.titulo1{
	text-align: left;
	color:#123D85;
	text-transform: uppercase;
	font-size: 20px;
  	-webkit-text-stroke-color: #006784;
  	-webkit-text-stroke-width: 0.30px;  
  	float: left;
  	margin-left: 10px;
  	width: 80%;
}
.titulo2{
	text-align: center;
	color:white;
	text-transform: uppercase;
	font-size: 30px;
  	-webkit-text-stroke-color: black;
  	-webkit-text-stroke-width: 0.30px;  
  	position: relative;
}
.titulo3{
	text-align: center;
	color:#123D85;
	text-transform: uppercase;
	font-size: 30px;
  	-webkit-text-stroke-color: #006784;
  	-webkit-text-stroke-width: 0.30px;  
  	margin-left: 10px;
  	padding-right: 10px;
  	margin-top: 0;
  	width: 100%;
}
.bajar{
	text-align: center;
	padding-top: 13px;
	width: 50px;
	height: 50px;
	font-size: 20px;
	border: 1px solid white;
	color:white;
	margin: auto;
	margin-top: 120px;
	border-radius: 50%;
	transition: all .7s ease;
	cursor:pointer; 
}
.textblue{
	color:#0C2E69;
}
input[type=texto], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=digito], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=mensaje], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: #0C2E69;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 28px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}
input[type=submit]:hover {
    opacity: 0.8;
}
.contenedor-contact{
  margin:20px;
  margin-top:30px;
  width: 50%;
}
.contenedorIzq{
	padding: 20px;
	width: 46%;
	float: left;
}
.contenedorDer{
	padding: 20px;
	width: 46%;
	float: right;
}
.barra{
	border: 0;
    border-top: 1px solid #eee;
    border-color: #0C2E69;
    border-width: 2px;
    width: 100%;
    clear: both;
}
textarea[type=message], select {
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}